@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
}
 body {
     font-weight: map-get($font-weights, regular );
     font-family: $primary-font;
     line-height: 1.6;
     background: #fff;
 }
 ul {
     list-style: none;
 }
 
 //header 
 
 //Navigation bar 
 #header-content {
     padding-top: 1.5rem;
     padding-bottom: 1.5rem;
     ul {
         display: flex;
         flex-direction: row;
         align-items: flex-start;
         border-top: 3px $primary-color solid;
         border-bottom: 3px $primary-color solid;
         padding-top: 1rem;
         padding-bottom: 1rem;
         padding-left: 0.5rem;
     }

     li {
         flex: 1;
         text-align: left;

         

     }
     li.items {
         background-color: $green-shed-color;
     }
 }