* {
  box-sizing: border-box; }

/*! -----------Included Fonts here ---------- */
@font-face {
  font-family: "OpenSans-Regular";
  src: url("src/fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "Roboto-Reguar";
  src: url("src/fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: "Lato-Regular";
  src: url("src/fonts/Lato-Regular.ttf"); }

/*! ---------- Included Themes here ----------- */
body {
  font-weight: 400; }
